a {
    text-decoration: none;
}

header {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .03rem;
    font-weight: 500;
}

h1 {
    font-family: 'Cardo', serif;
    color: $color-primary;
    font-size: 5.4rem;
    font-weight: normal;
}

h2 {
    font-family: 'Cardo', serif;
    color: $color-primary;
    font-size: 3.8rem;
    font-weight: normal;
    line-height: 4.4rem;
}