.start-list {
    column-count: 2;
    column-gap: 20rem;
    font-size: 1.8rem;
    font-family: $default-font;
    width: 100%;
line-height: 3rem;
margin-left: 5rem;
}

.landing-subheading {
margin: 5rem 0;
}

.landing-heading {
    margin: 10rem -5rem 0;
    font-style: italic;
}

.skill-list {
    margin: -10rem 0 0 0;
position: absolute;
}

@include respond(phone) {
    .start-list {
        column-count: 1;
        text-align: center;
        margin: 0;
    }

    .skill-list {
        width: 100%;
        position: relative;
    }

    .landing-heading {
        text-align: center;
    }
}